.env
cache
__pycache__
*.xlsx
*.txt
*.xls
*.xlsm
*.xlsb
*.csv
*.pth
*.bin
*.safetensors
tag_frequency.py
data/
ux_classifier_v2.py
*.pt
*.json
ux_classifier.py
unlabeled_processing.py
processing.py
evaluate_model.py


